:host {
  --mat-sidenav-container-background-color: white;

  .mobile {
    --mat-sidenav-container-shape: 0;
  }

  ::ng-deep {
    .mat-drawer.mat-drawer-opened.mat-drawer-opened {
      width: clamp(400px, 35%, 600px);
      transform: none;
      padding: 10px;
    }
  }
}

@media screen {
  :host {
    margin: 10px;
  }
}

