:host {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  .header {
    font-weight: bold;
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(3, auto 3fr);
    gap: 10px;
    margin-bottom: 10px;

    span.input-placeholder {
      border-bottom: 1px dashed blue;
    }
  }

  .page-break {
    column-span: all;
    grid-column: span 4;
    border-bottom: 1px dashed var(--mat-sys-primary);
    page-break-after: always;
    margin: 5px 0;
  }

  .group {
    border: 1px solid var(--mat-sys-primary);
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    .sum {
      display: grid;
      padding: 7px 0;
      grid-template-columns: repeat(4, 1fr) 4fr 2fr;
      justify-items: center;

      .answer {
        justify-self: start;

        &:is(input) {
          background: white;
          border: 1px solid var(--mat-sys-primary);
          border-radius: 2px;

          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          &[readonly] {
            background: var(--mat-sys-surface-dim);
          }
        }
      }

      .success {
        color: green;
      }

      .failure {
        color: red;
      }

      .missing {
        color: gray;
      }

      input {
        width: 50px;
      }
    }
  }
}
