@let sumGroups = generateSumService.sums();
@let config = configService.config();
@let state = uiStateService.state();

<ng-container *ngTemplateOutlet="header"></ng-container>
@for (group of sumGroups; track $index; let count = $count) {
  @if (config?.doubleSided && (count / 2) === $index) {
    <div class="page-break"></div>
    <ng-container *ngTemplateOutlet="header"></ng-container>
  }
  <div class="group">
    @for (sum of group; track $index) {
      <div class="sum">
        <span>{{ sum.first }}</span>
        <span>{{ sum.operator }}</span>
        <span>{{ sum.second }}</span>
        <span>=</span>
        @if (state.showAnswers) {
          <strong class="answer">{{ sum.answer }}</strong>
        } @else if (state.fillingOut) {
          <input class="answer" type="number" [readonly]="state.timeExpired" [(ngModel)]="sum.givenAnswer"
                 (ngModelChange)="onAnswerChange($event, sum)"/>
          @if (state.timeExpired) {
            @let isCorrect = sum.givenAnswer === sum.answer;
            @let missing = sum.givenAnswer === undefined;
            <fa-icon [icon]="missing ? faBan : isCorrect ? faCheck : faTimes" [class.missing]="missing" [class.success]="isCorrect"
                     [class.failure]="!isCorrect"></fa-icon>
          }
        } @else {
          <span class="answer">....</span>
        }
      </div>
    }
  </div>
}

<ng-template #header>
  @if (state.showHeader) {
    <div class="header">
      <span>Naam:</span>
      <span class="input-placeholder"></span>
      <span>Datum:</span>
      <span class="input-placeholder"></span>
      <span>Groep:</span>
      <span class="input-placeholder"></span>
    </div>
  }
</ng-template>
