@let uiState = uiStateService.state();
@let isFillingOut = uiState.fillingOut;
@let timeRemaining = uiStateService.remainingTime();
@let finishedFillingOut = uiState.timeExpired;
@let sForm = stateForm();
@let cForm = configForm();

@if (sForm && cForm) {
  <div class="actions">
    @if (!isFillingOut) {
      <button matButton (click)="regenerate()">
        <fa-icon [icon]="faArrowsRotate"></fa-icon>
        Genereer nieuwe sommen
      </button>
      <button matButton (click)="print()">
        <fa-icon [icon]="faPrint"></fa-icon>
        Print
      </button>
      <button matButton (click)="copyUrl()">
        <fa-icon [icon]="faCopy"></fa-icon>
        Kopieer url voor deze sommen
      </button>
    } @else {
      @let finishedCounts = uiState.finishedCounts;
      @if (!finishedFillingOut) {
        <h3>Tijd: {{ timeRemaining | time }}</h3>
      } @else if (finishedCounts) {
        <div class="success">
          <span>Goed:</span>
          <span>{{ finishedCounts.correct }}</span>
        </div>
        <div class="failure">
          <span>Fout:</span>
          <span>{{ finishedCounts.incorrect }}</span>
        </div>
      }
      <button matButton="filled" (click)="stopFillingOut()">Klaar</button>
    }

  </div>
  @if (!isFillingOut) {
    <form [formGroup]="cForm">
      <h3>Configuratie</h3>
      <mat-form-field>
        <mat-label>Sommen per blok</mat-label>
        <input matInput type="number" formControlName="itemsPerGroup">
      </mat-form-field>
      <mat-checkbox formControlName="doubleSided">Dubbelzijdig (2 pagina's)</mat-checkbox>

      <h3>Blok groepen</h3>
      <div formArrayName="entries">
        @for (entry of entries.controls; track $index; let i = $index) {
          <div [formGroupName]="i">
            <div class="entry-header">
              <h4>Sommen {{ entry.value | entrySummary }}</h4>
              <fa-icon [icon]="faTrash" (click)="removeEntry(i)"></fa-icon>
            </div>

            <div class="entry-config">
              <mat-form-field>
                <mat-label>
                  Som soort:
                </mat-label>
                <mat-select formControlName="operator">
                  <mat-option [value]="'+'">Plus (+)</mat-option>
                  <mat-option [value]="'-'">Min (-)</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Begin getal</mat-label>
                <input matInput type="number" formControlName="start">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Eind getal</mat-label>
                <input matInput type="number" formControlName="end">
              </mat-form-field>

              <mat-form-field>
                <mat-label>Aantal blokken</mat-label>
                <input matInput type="number" formControlName="nrOfGroups">
              </mat-form-field>

            </div>
          </div>
        }
      </div>

      <button matButton="filled" (click)="addEntry()">Voeg somgroep toe</button>
    </form>

    <form [formGroup]="sForm">
      <h3>Weergave instellingen</h3>
      <mat-checkbox formControlName="showAnswers">Toon antwoorden</mat-checkbox>
      <mat-checkbox formControlName="showHeader">Toon naam, datum, groep</mat-checkbox>

      <h3>Sommen maken</h3>
      <mat-form-field>
        <mat-label>Aantal minuten voor maken</mat-label>
        <input matInput type="number" formControlName="fillOutMinutes">
      </mat-form-field>
    </form>

    <button class="start" matButton="filled" (click)="startFillingOut()">Start</button>
  }
}
